/* common */

body {
  margin: 0;
}

h1,
h2,
p {
  /* margin: 0; */

}

h1,
h2 {
  font-weight: normal;
}

.container {
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}


/* header */

header {
  background-image: url(img/mokume.jpg);
  margin: 0 auto;
  padding: 20px;
}


header h1 {
  color: #eee;
  font-size: 24px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}


/* nav */
.nav li{
  list-style:none;
  width: 33%;
  float:left;
  font-family:"Sawarabi Mincho";
}


.nav ul:after{
  content:"";
  display:block;
  clear:both;
}


*{box-sizing: border-box;}

.nav ul{
background-image: url(img/mokume.jpg);
padding: 0;
text-align: center;
}

.nav ul li {
display: inline-block;
}

.nav ul li a{
  display: block;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  }

.nav ul{
  margin-top: 0; 
  padding: 0;
}


/* main */


main {
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

main h1 {
  margin-top: 40px;
  margin: 0 auto;
  font-size: 25px;
  
  padding: 60px 0;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

main h2 {
  font-size: 20px;
  padding-top: 8px;
  margin-bottom: 8px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

main p {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  
}

main .container {
  box-shadow: 4px 4px 4px 4px gray;
  max-width: 300px;
  height: auto;
  border-radius: 30px;
  margin-bottom: 30px;
}

.file img {
  max-width: 250px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 4px gray;
  text-align: center;
}

/* copyright */

.copyright {
   padding: 64px 0;
   text-align: center;
   background: #3e260c;
 }
 
 .copyright small {
   font-size: 16px;
   color: #eee;
 }
